<div class="artist-nav">
 <ul>
   {% if post.get_field('artist_statement') and post.get_field('artist_statement') is not empty %}
   <li data-modal="artist-statement">Artist Statement</li>
   {% endif %}
   {% if post.curator_statement and post.curator_statement is not empty %}
   <li data-modal="curator-statement">Curator Statement</li>
   {% endif %}
   {% if post.get_field('zing_links') %}
   <li data-modal="zing-links">Issues of zingMagazine</li>
   {% endif %}
   {% if post.get_field('artist_site_url') and post.get_field('artist_site_url') is not empty %}
   <li><a href="{{ post.get_field('artist_site_url') }}" target="_blank">Artist Site</a></li>
   {% endif %}
 </ul>
</div>
<div class="modals">
   {% if post.get_field('artist_statement') and post.get_field('artist_statement') is not empty %}
   <div id="artist-statement">
      <div class="modal-inner">
   		<h3>Artist Statement</h3>
   		{{post.get_field('artist_statement')}}
      </div>
   </div>
   {% endif %}
   {% if post.get_field('zing_links') %}
   <div id="zing-links">
      <div class="modal-inner">
   		<ul>
   			{% for item in post.get_field('zing_links') %}
   			<li><a href="{{item.url}}">{{item.text}}</a></li>
   			{% endfor %}
   		</ul>
      </div>
   </div>
   {% endif %}
   {% if post.curator_statement and post.curator_statement is not empty %}
	<div id="curator-statement">
      <div class="modal-inner">
   		<h3>Curator Statement</h3>
   		{{post.get_field('curator_statement')}}
      </div>
	</div>
   {% endif %}
</div>