{% if posts|length == 0 %}
	<h1>No events found for this month</h1>
{% endif %}
{% for post in posts %}
	<article class="event" data-date="{{post.event_date}}">
		<h2><a href="{{post.post_name}}">{{post.event_time}}</a></h2>
		<div class="event-content">
		<a href="{{post.post_name}}">
			<img src="{{post.thumbnail.get_src('event')}}">
		</a>
			<div class="event-text">
				<h1>{{post.title}}</h1>

				{{post.content}}

				{% if post.video_url and post.video_url is not empty %}
				<h3><a href="{{ post.video_url }}">Watch Event Video</a></h3>
				{% endif %}
			</div>
		</div>
	</article>
{% endfor %}
